<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<!--
	    The System.Web namespace supplies classes and interfaces that enable browser-server 
	    communication. This namespace includes the HttpRequest class, which provides extensive 
	    information about the current HTTP request; the HttpResponse class, which manages HTTP 
	    output to the client; and the HttpServerUtility class, which provides access to server-side 
	    utilities and processes. System.Web also includes classes for cookie manipulation, file 
	    transfer, exception information, and output cache control.
	-->
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="BlueFinity.mvNET.CoreObjects, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0E042501BCAF5804"/></assemblies>
      </compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
    		        <error statusCode="403" redirect="NoAccess.htm" />
    		        <error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- 
	    The system.webServer section is required for running ASP.NET AJAX under Internet
	    Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
</configuration>
